.item, .pontuacao{
    background-color: #EEE;
}
.pontuacao, .qualidade{
    text-align: center;
}
.item, .pontuacao, .qualidade{
    padding: 5px;
    border-radius: 3px;
}
.item{
    cursor: pointer;
}
.pontuacao{
    font-weight: bold;
}
.qualidade{
    color: white;
}
.item a{
    text-indent: 10px;
    color: #525252;
    text-decoration: none;
    width: 100%;
}
.item:hover{
    border-radius: 3px;
    border: 1px solid #d3dce3;
}
.iconesButton{
    width: 1.6em;
    height: 1.6em;
    margin-left: 10px;
    cursor: pointer;
}

.grid, .gridsel {
    display: inline-grid;
    grid-template-columns: 270px 60px 100px 35px 35px;
    gap: 5px 5px;

    /*row-gap: 10px;*/
    /*grid-column-gap: 10px;*/
    /*grid-row-gap: 10px;*/
    padding: 5px;
}
.gridsel{
    border-radius: 3px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(38,77,115,1) 0%, rgba(255,255,255,1) 70%);
}
#iconchecked{
    width: .8em;
    height: .8em;
    float: right;
}